<!DOCTYPE html>
<html>
	<head>
		<title>Bill</title>
		<meta charset="UTF-8"/>
		<link rel="stylesheet" type="text/css" href="style.css"/>
	</head>

	<body>
		<div id="wrapper">
			<div id="header">
				<div id="headertop">
					<p id="headertopright">%1$s</p>
					<h1 id="headertopleft">KABOHA PHOTOGRAPHY</h1>
				</div>

				<hr/>

				<div id="headerbottom">
					<div id="headerbottomright">
						%2$s
					</div>

					<a id="headerbottomleft" href="http://www.kaboha.com">www.kaboha.com</a>
					<p id="headerbottomleft">204.997.8080</p>
				</div>
			</div>

			<div id="content">
				%3$s
			</div>

			<div id="footer">
				<p>Thank you for choosing Kaboha Photography!</p>
			</div>
		</div>
	</body>
</html>